@@include('_head.html', {
"include_sidebar": true,
"page": "training"
})

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Training</h1>
            </div>
            <div class="col-md-9">
                <h3>Information</h3>
                <p>
                    During this study, you will be asked to specify parametric behavior in 3D CAD models using @@if (condition == 3) {<b>CODA</b>, a plugin on top of Autodesk Fusion 360}@@if (condition == 1) {<b>Autodesk Fusion 360</b>}.
                    We will start with a generic training on what constraints are in 3D modeling and why it is useful and desirable to specify parametric behavior in 3D CAD models.
                    Next, you will be given a taining task in the same format as the actual study tasks. We will show how to successfully complete this task using @@if (condition == 3) {<b>CODA</b>}@@if (condition == 1) {<b>Autodesk Fusion 360</b>}, which you can try yourself to get familiar with the CAD software.
                    If you have not used Autodesk Fusion 360 before, or if you want to refresh your memory, we created a small optional tutorial to explain the basics of the interface that you will need to successfully complete the tasks.
                </p>
                <ul>
                    <li><a href="fusion-basics/index-@@condition.html">Fusion basics (optional)</a></li>
                    <li><a href="constraints/index-@@condition.html">Constraints and parametric behavior</a></li>
                    <li><a href="fully-defined/index-@@condition.html">Under- and overconstraining</a></li>
<!--                    <li><a href="training-task/index-@@condition.html">Training task</a></li>-->
                </ul>
            </div>


        </main>

@@include('_footer.html')
